:root {
  --content-main-color: rgba(0,0,0,.84);
  --content-medium-color: rgba(0,0,0,.54);
  --content-high-color: #b3b3b1;
  --ui-clear: #fff;
  --ui-clear-medium: rgba(255,255,255,.2);
  --ui-primary: #34e79a;
  --ui-primary-alt: #b5e5a4;
}